allennlp==2.5.0
allennlp-models==2.5.0
en-core-web-sm==3.0.0
nltk==3.6.6
pycorenlp==0.3.0
pytorch-pretrained-bert==0.6.2
sentencepiece==0.1.96
spacy==3.0.6
torch==1.8.1
torchtext==0.9.1
torchvision==0.9.1
transformers==4.6.1
tqdm
